@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
  background: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  display: flex;
  background: white;
  justify-content: space-evenly;
  align-items: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  font-weight: bold;
  font-size: 11pt;
}

ul.list {        
    display: flex;
    align-items: center;
    
}

ul.list li {
    justify-content: space-evenly;
    margin: 10px;
}

.navbar input[type=text] {
  width: 80%;
  height: 1.2em;
  outline: none;
  /* box-shadow: 0.15em 0.15em #003ecb; */
  border: 0.10em solid #003ecb;
  background: #f8f8f8;
  text-decoration: solid;
  border-radius: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #222222;
  padding: 2px 1em 0.2em 1.75em;
  background-image: url(Assets/search.svg);
  background-repeat: no-repeat;
  background-position: left center;
  outline: 0;
}

.upload{
  width: fit-content;
  height: 1.8em;
  padding: 0.2em 1em 0.2em 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  background: #003ecb;
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  vertical-align: middle; 
}

.footer{
  display: flex;
  background: #003ecb;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  color: white;
  font-size: 9pt;
  font-weight: lighter;
  /* min-width: max-content; */
}

ul.foolist {        
  display: flex;
  align-items: center;
  
}

ul.foolist li {
  justify-content: space-evenly;
  margin: 10px;
  margin-right: 65px;
}

.user{
  position: relative;
  align-self: center;
  width: 30px;
  height: 30px;
  overflow: visible;
}

.user img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4px;
  margin: 1.5em;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  align-items: center;
  max-width: 50%;
  padding: 4px;
  margin-inline: 0.25em;
}

.column img {
  border-radius: 0.5em;
  margin-top: 1em;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 90%;
  }
  .search{
    flex: 100%;
    max-width: 20%;
    margin-right: 40px;
    font-size: 5pt;
  }
  .navbar{
    font-size: 8pt;
    font-weight: bold;
    
  }
  .upload{
    font-size: 8pt;
    font-weight: bold;
  }
  .navbar input[type=text] {
    font-size: 8pt;
    font-weight: bold;
    padding: 2px 1em 0.2em 2em;
  }
  ul.list {        
    display: flex;
    align-items: center;
    justify-content: center;
    
}
  ul.list li {
    justify-content: space-evenly;
    margin: 8px;
}
  ul.foolist {        
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  ul.foolist li {
    justify-content: space-evenly;
    margin: 8px;
    margin-right: 10px;
  }
  .user img {
    flex: 100%;
    max-width: 90%;
  }
}

a {
  color: #222222;
}
a:hover{
  color: #003ecb;
}

a.f{
  color: white;
}
a:hover.f{
  color: orange;
}